// game.component.scss
.game-container {
    padding: 20px;
}



.board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
}

.players {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 15px;
}
